<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IA.TorreHanoi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IA.TorreHanoi.Properties.Settings>
            <setting name="FatorCrescimentoLarguraDiscos" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LarguraPadraoDiscos" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="AlturaPadraoDiscos" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HasteInicio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HasteFim" serializeAs="String">
                <value>2</value>
            </setting>
        </IA.TorreHanoi.Properties.Settings>
    </applicationSettings>
</configuration>